

@media (max-width: 992px){
    .col-6{
        max-width: 100%;
        width: 100%;
    }

    .col-4{
        max-width: 50%;
        width: 50%;
    }

    .navbar{
        margin-top: 20px;
        text-align: center;
    }

    header .navbar a{
        line-height: 35px;
    }

    .form-default {
        width: 80%;
        margin-top: 25px;
    }

    .push-footer-bottom {
        padding: 209px 0 208px 0;
    }

    .box-article{
        height: 300px;
    }

    .search-form form{
        text-align: center;
    }

    .search-form input {
        width: 70%;
    }

    .title h2 {
        font-size: 38px;
    }

@media (max-width: 750px){
    .push-footer-bottom {
        padding:200px 0 202px 0;
    }

    .title h2 {
        font-size: 32px;
    }

    .col-4{
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 550px){
    .push-footer-bottom {
        padding:170px 0 170px 0;
    }
}