@font-face {
    font-family: Inria;
    src: url(../css/fonts/InriaSerif-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inria;
}

body{
    background: #E5E5E5;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-40{
    margin-bottom: 40px;
}

.push-footer-bottom{
    padding: 239px 0 238px 0;
}

.align-items-center{
    align-items: center;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content:flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}

.container{
    max-width: 1440px;
    margin: auto;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-2{
    max-width: 20%;
    width: 20%;
    padding: 0 15px 0 15px;
}

.col-3{
    max-width: 33%;
    width: 33%;
    padding: 0 15px 0 15px;
}

.col-4{
    max-width: 25%;
    width: 25%;
    padding: 0 15px 0 15px;
}

.col-6{
    max-width: 50%;
    width: 50%;
    padding: 0 15px 0 15px;
}

.col-12{
    max-width: 100%;
    width: 100%;
    padding: 0 15px 0 15px;
}

.text-green{
    color: #30582F;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

header{
    background-color: #7FA842;
    padding: 20px;
}

header .logo{
    text-align: center;
    max-width: 30%;
}

header .logo h1{
    font-size: 2.8em;
}

header .logo a{
    color: #fff;
    text-decoration:none !important;  
}

header .navbar{
    max-width: 70%;
    height: 100%;
}

header .navbar a{
    color: #fff;
    font-size: 22px;
    text-decoration: none!important;
    margin-left: 15px;
}

header .navbar a:hover{
    color: rgb(4, 39, 10);
}

.header-bg{
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../images/fitoterapia.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}

section{
    padding: 80px 0;
}

.title .subtitle{
    font-size: 22px;
    color: #30582F;
}

.title h2{
    font-size: 48px;
}

.title h3{
    font-size: 22px;
}

.description p {
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
    line-height: 26px;
}

.bg-benefits{
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/bg-benefits.jpg);
    background-position: center;
    background-size: cover;
    color: #fff!important;
}

footer{
    background-color: #7FA842;
    color: #fff;
    font-size: 24px;
    padding: 30px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.form-default{
    width: 50%;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}

.form-default label{
   font-size: 20px;
   color: #30582F;
}

.form-default input{
    display: block;
    width: 100%;
    margin: 20px 0 20px 0;
    height: 40px;
    background: transparent;
    outline: 0!important;
    border: 2px solid #7FA842;
}

.form-default textarea{
    display: block;
    width: 100%;
    margin: 20px 0 20px 0;
    height: 150px;
    background: transparent;
    border: 2px solid #7FA842;
    outline: 0!important;
}

.form-default select{
    display: block;
    width: 100%;
    margin: 20px 0 20px 0;
    height: 40px;
    background: transparent;
    border: 2px solid #7FA842;
    outline: 0!important;
}

option{
    padding: 15px 10px;
}    


.form-default button{
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
    background-color: #7FA842;
    color: #ffff;
    border: 1px solid transparent;
    
}

.form-default button:hover{
    background-color: #30582F;
    cursor: pointer;
}

.box-article{
    height: 250px;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 1em #7FA842;
    border-radius: 10px;
    text-align: center;
}

.btn-default{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7FA842;
    color: #ffff;
    border: 1px solid transparent;
    text-decoration: none!important;
}

.btn-default:hover{
    background-color: #30582F;
    cursor: pointer;
}

.btn-delete{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #5f1616;
    color: #ffff;
    border: 1px solid transparent;
    text-decoration: none!important;
    margin-left: 15px;
}

.btn-delete:hover{
    background-color: #4a0c0c;
    cursor: pointer;
}

.search-form label{
    font-size: 22px;
    color: #30582F;
    display: block;
}

.search-form input{
    width: 50%;
    margin: 20px 0 20px 0;
    height: 35px;
    background: transparent;
    outline: 0!important;
    border: 2px solid #7FA842;
}

.search-form button{
    padding: 6px 20px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #7FA842;
    color: #ffff;
    border: 1px solid transparent;
}

.search-form button:hover{
    background-color: #30582F;
    cursor: pointer;
}

.message-success {
    background-color: green;
    padding: 10px 0;
    width: 100%;
    margin: 20px 0 20px 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}

.message-error {
    background-color: #752121;
    padding: 10px 0;
    width: 100%;
    margin: 20px 0 20px 0;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
}